In [1]:
import numpy as np
import pandas as pd

series = pd.Series([1, 2, 3, np.nan, 5, 6, 7])

pd.DataFrame({'a': [1, 2, 3, 4]})

   a
0  1
1  2
2  3
3  4

In [2]:
series

0    1.0
1    2.0
2    3.0
3    NaN
4    5.0
5    6.0
6    7.0
dtype: float64

In [3]:
# create by  np
dates = pd.date_range('20230101', periods=6)

In [4]:
dates

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(
    np.random.randn(6, 4), index=dates,
    columns=list('ABCD')
)

df

                   A         B         C         D
2023-01-01 -1.668283  0.314639 -1.718558  1.747481
2023-01-02  1.359748  0.089898 -0.259476  1.040303
2023-01-03 -0.067664  0.256970 -0.221017  0.055406
2023-01-04 -0.816927 -0.854744  1.441804  0.497104
2023-01-05 -0.509669 -0.881551  0.721404 -1.015325
2023-01-06  0.492066  0.899491 -0.022820 -1.095368

In [6]:
df2 = pd.DataFrame(
    {
        'A': 1.0,
        'B': pd.Timestamp('20230101'),
        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
        'D': np.array([3] * 4, dtype='int32'),
        'E': pd.Categorical(['test','train','test','train']),
        'F': 'foo',
    }
)
df2

     A          B    C  D      E    F
0  1.0 2023-01-01  1.0  3   test  foo
1  1.0 2023-01-01  1.0  3  train  foo
2  1.0 2023-01-01  1.0  3   test  foo
3  1.0 2023-01-01  1.0  3  train  foo

In [8]:
[3] * 12

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [9]:
df.head()

                   A         B         C         D
2023-01-01 -1.668283  0.314639 -1.718558  1.747481
2023-01-02  1.359748  0.089898 -0.259476  1.040303
2023-01-03 -0.067664  0.256970 -0.221017  0.055406
2023-01-04 -0.816927 -0.854744  1.441804  0.497104
2023-01-05 -0.509669 -0.881551  0.721404 -1.015325

In [10]:
df.tail()

                   A         B         C         D
2023-01-02  1.359748  0.089898 -0.259476  1.040303
2023-01-03 -0.067664  0.256970 -0.221017  0.055406
2023-01-04 -0.816927 -0.854744  1.441804  0.497104
2023-01-05 -0.509669 -0.881551  0.721404 -1.015325
2023-01-06  0.492066  0.899491 -0.022820 -1.095368

In [11]:
df.tail(1)

                   A         B        C         D
2023-01-06  0.492066  0.899491 -0.02282 -1.095368

In [12]:
df.head(1)

                   A         B         C         D
2023-01-01 -1.668283  0.314639 -1.718558  1.747481

In [13]:
df.index

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06'],
              dtype='datetime64[ns]', freq='D')

In [14]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [16]:
df.columns.array[1]

'B'

In [17]:
df.to_numpy()

array([[-1.66828297,  0.3146385 , -1.71855826,  1.74748067],
       [ 1.35974793,  0.08989786, -0.25947638,  1.04030303],
       [-0.06766435,  0.25697014, -0.22101689,  0.05540612],
       [-0.81692657, -0.85474414,  1.4418045 ,  0.49710408],
       [-0.50966909, -0.88155113,  0.72140425, -1.01532473],
       [ 0.49206611,  0.89949051, -0.02282004, -1.0953679 ]])

In [18]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.201788 -0.029216 -0.009777  0.204934
std    1.054667  0.704953  1.064781  1.128258
min   -1.668283 -0.881551 -1.718558 -1.095368
25%   -0.740112 -0.618584 -0.249862 -0.747642
50%   -0.288667  0.173434 -0.121918  0.276255
75%    0.352133  0.300221  0.535348  0.904503
max    1.359748  0.899491  1.441804  1.747481

In [20]:
df.describe().head(2)

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.201788 -0.029216 -0.009777  0.204934

In [21]:
df.T

   2023-01-01  2023-01-02  2023-01-03  2023-01-04  2023-01-05  2023-01-06
A   -1.668283    1.359748   -0.067664   -0.816927   -0.509669    0.492066
B    0.314639    0.089898    0.256970   -0.854744   -0.881551    0.899491
C   -1.718558   -0.259476   -0.221017    1.441804    0.721404   -0.022820
D    1.747481    1.040303    0.055406    0.497104   -1.015325   -1.095368

In [23]:
df.T.T

                   A         B         C         D
2023-01-01 -1.668283  0.314639 -1.718558  1.747481
2023-01-02  1.359748  0.089898 -0.259476  1.040303
2023-01-03 -0.067664  0.256970 -0.221017  0.055406
2023-01-04 -0.816927 -0.854744  1.441804  0.497104
2023-01-05 -0.509669 -0.881551  0.721404 -1.015325
2023-01-06  0.492066  0.899491 -0.022820 -1.095368

In [25]:
df.sort_index(axis=1,ascending=False)

                   D         C         B         A
2023-01-01  1.747481 -1.718558  0.314639 -1.668283
2023-01-02  1.040303 -0.259476  0.089898  1.359748
2023-01-03  0.055406 -0.221017  0.256970 -0.067664
2023-01-04  0.497104  1.441804 -0.854744 -0.816927
2023-01-05 -1.015325  0.721404 -0.881551 -0.509669
2023-01-06 -1.095368 -0.022820  0.899491  0.492066

In [26]:
df.sort_values(by='B')

                   A         B         C         D
2023-01-05 -0.509669 -0.881551  0.721404 -1.015325
2023-01-04 -0.816927 -0.854744  1.441804  0.497104
2023-01-02  1.359748  0.089898 -0.259476  1.040303
2023-01-03 -0.067664  0.256970 -0.221017  0.055406
2023-01-01 -1.668283  0.314639 -1.718558  1.747481
2023-01-06  0.492066  0.899491 -0.022820 -1.095368